body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("../images/bg-music-1.jpg");
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  margin: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.piano {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: 2px solid black;
  border-radius: 5px;
  margin: 1px;
  padding: 20px;
  transition: all 0.07s;
  width: 50px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 5px black;
  height: 200px;
}

.play {
  transform: scale(1.2);
  border-color: #3ba6c6;
  box-shadow: 0 0 10px #3ba6c6;
}

.legend {
  margin: 10px;
  font-size: 12px;
  font-weight: 300;
  color: #fff;
  border: 0.5px solid black;
  background-color: black;
  border-radius: 10%;
  padding: 15px;
}
